
<section th:fragment="aboutpresentation3" class="ftco-intro ftco-section ftco-no-pt">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <div class="img"  style="background-image: url(/client/images/bg_2.jpg);">
          <div class="overlay"></div>
          <h2>Ne jemi Blurs Travel Agency</h2>
          <p>Ne mund të menaxhojmë ndërtesën tuaj të ëndrrave.</p>
          <p class="mb-0"><a href="#" class="btn btn-primary px-4 py-3">Shkruani pyetje</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
