
<section  th:fragment="aboutpresentation2" class="ftco-section testimony-section bg-bottom" style="background-image: url(/client/images/bg_1.jpg);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-center pb-4">
      <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
        <span class="subheading">Testimonial</span>
        <h2 class="mb-4">Pershtypjet e turisteve</h2>
      </div>
    </div>
    <div class="row ftco-animate">
      <div class="col-md-12">
        <div class="carousel-testimony owl-carousel">
          <div class="item">
            <div class="testimony-wrap py-4">
              <div class="text">
                <p class="star">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </p>
                <p class="mb-4">Unë do të rekomandonim shërbimin tuaj pasi gjithçka shkoi sipas planit. Faleminderit.</p>
                <div class="d-flex align-items-center">
                  <div class="user-img" style="background-image: url(/client/images/person_1.jpg)"></div>
                  <div class="pl-3">
                    <p class="name">Alan Sparz</p>
                    <span class="position">Gazetar</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap py-4">
              <div class="text">
                <p class="star">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </p>
                <p class="mb-4">Shërbim i organizuar shumë mirë. Udhëtim i mrekullueshëm dhe rekomandim i shkëlqyeshëm në lidhje me datat dhe vendndodhjen. Do të rezervoja sërish me Blurs. Pothuajse gjithçka shkoi mirë dhe ne ishim të kënaqur me shërbimin.</p>
                <div class="d-flex align-items-center">
                  <div class="user-img" style="background-image: url(/client/images/person_2.jpg)"></div>
                  <div class="pl-3">
                    <p class="name">Roger Scott</p>
                    <span class="position">Menaxher marketingu</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap py-4">
              <div class="text">
                <p class="star">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </p>
                <p class="mb-4">Shërbim i shkëlqyer, i lehtë për t'u rezervuar. Të gjitha emailet u përgjigjën menjëherë. Do ta përdor përsëri dhe e kam rekomanduar tashmë.</p>
                <div class="d-flex align-items-center">
                  <div class="user-img" style="background-image: url(/client/images/person_3.jpg)"></div>
                  <div class="pl-3">
                    <p class="name">Enrik Hida</p>
                    <span class="position">Bioteknolog</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap py-4">
              <div class="text">
                <p class="star">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </p>
                <p class="mb-4">Kaq e lehtë për t'u rezervuar dhe pa probleme gjatë gjithë pushimeve tona. Unë do të rekomandoja të rezervoni pushime përmes Travel Online në çdo kohë!</p>
                <div class="d-flex align-items-center">
                  <div class="user-img" style="background-image: url(/client/images/person_1.jpg)"></div>
                  <div class="pl-3">
                    <p class="name">Anna Fischer</p>
                    <span class="position">Ekonomiste</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap py-4">
              <div class="text">
                <p class="star">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </p>
                <p class="mb-4">Si gjithmonë shërbimi ishte i shkëlqyeshëm dhe transaksioni i lehtë, ua kam rekomanduar këtë faqe shumë miqve që kur kemi filluar ta përdorim dhe do të vazhdojmë ta bëjmë këtë.

                  Ju falënderoj përsëri
                </p>
                <div class="d-flex align-items-center">
                  <div class="user-img" style="background-image: url(/client/images/person_2.jpg)"></div>
                  <div class="pl-3">
                    <p class="name">Kevin Theodhori</p>
                    <span class="position">Programues</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>