<section  th:fragment="aboutpresentation1" class="ftco-section services-section">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-6 order-md-last heading-section pl-md-5 ftco-animate d-flex align-items-center">
        <div class="w-100">
          <span class="subheading">Mirëseerdhët në Blurs </span>
          <h2 class="mb-4">Është koha për të filluar aventurën tuaj</h2>
          <p>Më mirë të jetoni me kujtime sesa me ëndrra.Kjo është motoja jonë, ndërsa vizioni të bëjmë ëndrrat tuaja realitet dhe kujtime të paharueshme. Bashkohuni me ne për të provuar eksperiencat më të paharueshme në jetë</p>
          <p>Shijoni pushimet e ëndrrave me ne, pa pasur stresin "cfarë ndodh nëse". Ajo cka ne kemi si epiqëndër është projektimi I tureve dhe udhëtimeve, në mënyren më të mirë që të përjetoni emocione duke e parë botën ndryshe. Me kushtet më bashkëkohore, do të përfitoni shërbim profesional e të kualifikuar, ndërsa shijoni përvojat e paharrueshme që keni ëndërruar gjithmonë.</p>
          <p><a href="#" class="btn btn-primary py-3 px-4">Kërko destinacion</a></p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
            <div class="services services-1 color-1 d-block img" style="background-image: url(/client/images/services-1.jpg);">
              <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-paragliding"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">PËRSE NE?</h3>
                <p>
                  Ne  planifikojmë momentin më të bukur dhe të shumëpritur të të gjithëve, i cili na ngarkon me përgjegjësinë për të krijuar jo vetëm programe unike, por edhe për të krijuar kujtime të mahnitshme dhe të paharrueshme.

                   </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
            <div class="services services-1 color-2 d-block img" style="background-image: url(/client/images/services-2.jpg);">
              <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-route"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3"> NE DIMË SE ÇFARË OFROJMË</h3>
                <p>
                  Ne jemi të apasionuar pas këtyre  destinacioneve dhe investojmë shumë për ti njohur thellë. Kjo është arsyeja pse programet tuaja të udhëtimit janë menduar thellësisht në detaje duke marrë parasysh me kujdes çdo element për t'ju bërë të ndiheni sa më mirë në secilin vend.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
            <div class="services services-1 color-3 d-block img" style="background-image: url(/client/images/services-3.jpg);">
              <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-tour-guide"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3"> NE ZGJEDHIM PRODUKTIN TONË ME KUJDES
                </h3>
                <p>  Për çdo shërbim është e rëndësishme të përdorim ofruesit më të mirë që i përshtaten nevojave të klientëve tanë. Duke pasur parasysh këtë, ne kemi zgjeruar rrjetin tonë të furnitorëve dhe shërbimeve.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
            <div class="services services-1 color-4 d-block img" style="background-image: url(/client/images/services-4.jpg);">
              <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-map"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">  NE JU BËJMË LIDER NË DESTINACION</h3>
                <p>Me klientët në mendje, ne përpiqemi të krijojmë përvoja udhëtimi që shkojnë përtej biznesit. Njohuritë tona për destinacionin, ekipi ynë dinamik dhe i gjallë, databaza jonë e madhe e guidave, cilësia e shërbimeve dhe furnitorët e certifikuar me të cilët punojmë, janë garancia e fuqisë suaj në këtë destinacion.</p>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="ftco-section ftco-about img"style="background-image: url(/client/images/bg_4.jpg);">
  <div class="overlay"></div>
  <div class="container py-md-5">
    <div class="row py-md-5">
      <div class="col-md d-flex align-items-center justify-content-center">
        <a href="https://vimeo.com/45830194" class="icon-video popup-vimeo d-flex align-items-center justify-content-center mb-4">
          <span class="fa fa-play"></span>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-about ftco-no-pt img">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-12 about-intro">
        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="img d-flex w-100 align-items-center justify-content-center" style="background-image:url(/client/images/about-1.jpg);">
            </div>
          </div>
          <div class="col-md-6 pl-md-5 py-5">
            <div class="row justify-content-start pb-3">
              <div class="col-md-12 heading-section ftco-animate">
                <span class="subheading">About Us</span>
                <h2 class="mb-4">Make Your Tour Memorable and Safe With Us</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                <p><a href="#" class="btn btn-primary">Book Your Destination</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

