
<section th:fragment="aboutpresentation" class="hero-wrap hero-wrap-2 js-fullheight" style="background-image:
url('client/images/paros3.jpg');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate pb-5 text-center">
        <p class="breadcrumbs"><span class="mr-2"><a href="/">
         Kreu <i class="fa fa-chevron-right"></i></a></span> <span>Rreth nesh <i class="fa fa-chevron-right"></i></span></p>
        <h1 class="mb-0 bread">Rreth nesh</h1>
      </div>
    </div>
  </div>
</section>

