<footer th:fragment="footer" class="ftco-footer bg-bottom ftco-no-pt" style="background-image: url(images/bg_3.jpg);">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md pt-5">
                <div class="ftco-footer-widget pt-md-5 mb-4">
                    <h2 class="ftco-heading-2">About</h2>
                    <p>Blurs Travel Agency është fokusuar ne ofrimin e ndihmës më të mirë të udhëtimit me anë të ofertave për produkte dhe shërbime të ndryshme turistike.
                        Përpiqemi të ofrojme shërbime konkuruese, të përshtatshme dhe efikase për individ privatë dhe grupe.
                        Kjo është politika jonë për të përmbushur në mënyrën më të përshtatshme kërkesat e klientëve tanë</p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft">
                        <li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md pt-5 border-left">
                <div class="ftco-footer-widget pt-md-5 mb-4 ml-md-5">
                    <h2 class="ftco-heading-2">Informacion</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">Kërkim Online</a></li>
                        <li><a href="#" class="py-2 d-block">Kërkesat e Përgjithshme</a></li>
                        <li><a href="#" class="py-2 d-block">Kushtet e rezervimit</a></li>
                        <li><a href="#" class="py-2 d-block">Privatësia dhe Politika</a></li>
                        <li><a href="#" class="py-2 d-block">Politika e rimbursimit</a></li>
                        <li><a href="#" class="py-2 d-block">Na kontaktoni</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md pt-5 border-left">
                <div class="ftco-footer-widget pt-md-5 mb-4">
                    <h2 class="ftco-heading-2">Eksperienca</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">Aventura</a></li>
                        <li><a href="#" class="py-2 d-block">Plazhe</a></li>
                        <li><a href="#" class="py-2 d-block">Natyre</a></li>
                        <li><a href="#" class="py-2 d-block">Kamping</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-md pt-5 border-left">
                <div class="ftco-footer-widget pt-md-5 mb-4">
                    <h2 class="ftco-heading-2">Keni një pyetje?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon fa fa-map-marker"></span><span class="text">Lagja nr.1 Rruga Egnatia</span></li>
                            <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">+2 392 3929 210</span></a></li>
                            <li><a href="#"><span class="icon fa fa-paper-plane"></span><span class="text">info@blurstravel.com</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright Blurs  &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
        </div>
    </div>
</footer>