<div th:fragment="presentation" class="hero-wrap js-fullheight" style="background-image: url('/client/images/bg_5.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center" data-scrollax-parent="true">
            <div class="col-md-7 ftco-animate">
                <span style="size: A5"class="subheading">Mirë se vini në Blurs</span>
                <h1 class="mb-4">Zbuloni vendin tuaj të preferuar me ne</h1>
                <p class="caps">Udhëtoni në çdo cep të botës</p>
            </div>

            </a>
        </div>
    </div>
</div>








