<section th:fragment="presentation2" class="ftco-section services-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 order-md-last heading-section pl-md-5 ftco-animate d-flex align-items-center">
                <div class="w-100">
                    <span class="subheading">Mirë se vini në Blurs</span>
                    <h2 class="mb-4">Është koha për të filluar aventurën tuaj</h2>
                    <p>Me mire te jetoni me kujtime sesa me endrra.Kjo esht motoja jone,
                        ndersa vizioni te bejme endrrat tuaja realitet dhe kujtime te paharueshme.

                        Bashkohuni me ne per te provuar eksperiencat me te paharueshme ne jete</p>


                    <p><a href="paketat" class="btn btn-primary py-3 px-4">Kërko Destinacionin</a></p>

                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
                        <div class="services services-1 color-1 d-block img" style="background-image: url(images/services-1.jpg);">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-paragliding"></span></div>
                            <div class="media-body">
                                <h3 class="heading mb-3">Aktivitetet</h3>
                                <p>Udhetime me guide ose individuale ,eksperiencat me te cmendura neper bote</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
                        <div class="services services-1 color-2 d-block img" style="background-image: url(images/services-2.jpg);">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-route"></span></div>
                            <div class="media-body">
                                <h3 class="heading mb-3">Transporti</h3>
                                <p>Organizimet me te mira me mjetet me komode ne treg, per ta bere udhetimin tuaj te paharueshem</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
                        <div class="services services-1 color-3 d-block img" style="background-image: url(images/services-3.jpg);">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-tour-guide"></span></div>
                            <div class="media-body">
                                <h3 class="heading mb-3">Guida individuale</h3>
                                <p>Udhetime individuale ne vendet me ekzotike,per te mos humbur asnje moment</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
                        <div class="services services-1 color-4 d-block img" style="background-image: url(images/services-4.jpg);">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-map"></span></div>
                            <div class="media-body">
                                <h3 class="heading mb-3">Guida ne grupe</h3>
                                <p>Behuni grup me njerzit e zemres dhe ju garantojm nje aventure nga maja me e lart e botes deri te thellesia me e thelle e detit</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>