<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/client/head :: head"></head>
<body>
<div th:replace="fragments/client/navigation :: navigation"></div>

<section class="hero-wrap hero-wrap-2 js-fullheight"
         th:style="'background-image: url(' + ${package.imageSrc} + '); background-repeat: no-repeat; background-position: contain  ;'">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <h1 class="mb-0 bread" th:text="${package.title}"></h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pb contact-section mb-4">
    <div class="container">
        <div class="row d-flex contact-info">
            <div class="col-md-6 d-flex flex-column">
                <div class="align-self-stretch box p-4 text-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="fa fa-dollar"></span>
                    </div>
                    <h3 class="mb-2">Cmimi</h3>
                    <p th:text="${'$' + package.price + '/person'}"></p>
                </div>
                <div class="align-self-stretch box p-4 text-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="fa fa-info"></span>
                    </div>
                    <h3 class="mb-2">Pershkrimi</h3>
                    <p th:text="${package.description}"></p>
                </div>
            </div>

            <div class="col-md-6 d-flex">
                <form action="/rezervimi/ruaj" method="post" th:object="${reservation}" class="bg-light p-5 contact-form">
                    <div class="row" th:if="${response != null}">
                        <div class="alert alert-success" role="alert" th:if="${response.success}">
                            <ul>
                                <li th:each="message: ${response.messages}" th:text="${message}"></li>
                            </ul>
                        </div>
                        <div class="alert alert-danger" role="alert" th:if="${not response.success}">
                            <ul>
                                <li th:each="message: ${response.messages}" th:text="${message}"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" th:field="*{firstName}" placeholder="Emri" >
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" th:field="*{lastName}" placeholder="Mbiemri">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" th:field="*{email}" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" th:field="*{phone}" placeholder="Numer Kontakti">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" th:field="*{nrAdults}" placeholder="Numri i personave te rritur">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" th:field="*{nrChildren}" placeholder="Numri i femijve">
                    </div>

                    <input type="hidden" name="packageId" th:value="${package.id}" />
                    <input type="hidden" name="packagePrice" th:value="${package.price}" />
                    <div class="form-group">
                        <input type="submit" value="Rezervo" class="btn btn-primary py-3 px-5">
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>


<div th:replace="fragments/client/footer :: footer"></div>


<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#F96D00"/>
    </svg>
</div>


<div th:replace="fragments/client/scripts :: scripts"></div>

</body>
</html>