<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/client/head :: head"></head>

<body>
<div th:replace="fragments/client/navigation :: navigation"></div>
<!-- END nav -->

<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('client/images/bg_1.jpg');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate pb-5 text-center">
        <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Paketat<i class="fa fa-chevron-right"></i></a></span> <span>Lista e Paketave<i class="fa fa-chevron-right"></i></span></p>
        <h1 class="mb-0 bread">Lista e Paketave</h1>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-no-pb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="search-wrap-1 ftco-animate">
          <form action="#" class="search-property-1">
            <div class="row no-gutters">
              <div class="col-lg d-flex">
                <div class="form-group p-4 border-0">
                  <label for="#">Destination</label>
                  <div class="form-field">
                    <div class="icon"><span class="fa fa-search"></span></div>
                    <input type="text" class="form-control" placeholder="Search place">
                  </div>
                </div>
              </div>

              <div class="col-lg d-flex">
                <div class="form-group d-flex w-100 border-0">
                  <div class="form-field w-100 align-items-center d-flex">
                    <input type="submit" value="Search" class="align-self-stretch form-control btn btn-primary">
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 ftco-animate">
        <div class="project-wrap">
          <a href="#" class="img" style="background-image: url(client/images/zante.jpg);">
            <span class="price">$450/person</span>
          </a>
          <div class="text p-4">
            <span class="days">8 Days Tour</span>
            <h3><a href="#">ZAKYNTHOS</a></h3>
            <p class="location"><span class="fa fa-map-marker"></span> ZAKYNTHOS, Grecce</p>
            <ul>

            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 ftco-animate">
        <div class="project-wrap">
          <a href="#" class="img" style="background-image: url(client/images/dubai.jpg);">
            <span class="price">$650/person</span>
          </a>
          <div class="text p-4">
            <span class="days">10 Days Tour</span>
            <h3><a href="#">Dubai</a></h3>
            <p class="location"><span class="fa fa-map-marker"></span>Abu Dhabi</p>
            <ul>


            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 ftco-animate">
        <div class="project-wrap">
          <a href="#" class="img" style="background-image: url(client/images/paris.webp);">
            <span class="price">$350/person</span>
          </a>
          <div class="text p-4">
            <span class="days">6 Days Tour</span>
            <h3><a href="#">Paris</a></h3>
            <p class="location"><span class="fa fa-map-marker"></span>Paris,France</p>
            <ul>

            </ul>
          </div>

        </div>
      </div>

      <div class="col-md-4 ftco-animate">
        <div class="project-wrap">
          <a href="#" class="img" style="background-image: url(client/images/maroc.jpg);">
            <span class="price">$550/person</span>
          </a>
          <div class="text p-4">
            <span class="days">7 Days Tour</span>
            <h3><a href="#">Marocco</a></h3>
            <p class="location"><span class="fa fa-map-marker"></span> Marocco</p>
            <ul>


            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 ftco-animate">
        <div class="project-wrap">
          <a href="#" class="img" style="background-image: url(client/images/bali.jpg);">
            <span class="price">$1550/person</span>
          </a>
          <div class="text p-4">
            <span class="days">8 Days Tour</span>
            <h3><a href="#">Bali,Thailand</a></h3>
            <p class="location"><span class="fa fa-map-marker"></span> Bali,Thailand</p>
            <ul>



            </ul>
          </div>
        </div>

      </div>
      <div class="col-md-4 ftco-animate">
        <div class="project-wrap">
          <a href="#" class="img" style="background-image: url(client/images/barcelona.jpg);">
            <span class="price">$380/person</span>
          </a>
          <div class="text p-4">
            <span class="days">5 Days Tour</span>
            <h3><a href="#">Barcelona</a></h3>
            <p class="location"><span class="fa fa-map-marker"></span> Barcelona,Spain</p>
            <ul>


            </ul>
          </div>
        </div>


      </div>

      </div>

      </div>


    </div>
    <div class="row mt-5">
      <div class="col text-center">
        <div class="block-27">
          <ul>


          </ul>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="ftco-intro ftco-section ftco-no-pt">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <div class="img"  style="background-image: url(images/bg_2.jpg);">
          <div class="overlay"></div>
          <h2>Ne jemi Blurs Një agjenci udhëtimi</h2>
          <p>Ne mund te krijojme pushimet e endrrave tuaja</p>
          <p class="mb-0"><a href="#" class="btn btn-primary px-4 py-3">Ju beni pyetje ,ne pergjigjemi</a></p>
        </div>
      </div>
    </div>
  </div>
</section>


<div th:replace="fragments/client/footer :: footer"></div>
<div th:replace="fragments/client/scripts :: scripts"></div>

<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>




</body>
</html>